* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Alegreya Sans', sans-serif;
  color: white;
  font-size: 12px;
  display: flex;
  justify-content: center;
}

/* UTILITIES */
.text-center {
  text-align: center;
}

.green {
  color: chartreuse;
}

/* ZOOM APP */
#zoom-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 1300px;
  background: black;
}

/* TOP TOOLBAR */
#top-toolbar {
  width: 100%;
  padding: 10px 0 25px;
  position: relative;
}

#top-toolbar .partecipants::after {
  content: '';
  display: inline-block;
  border: 4px solid transparent;
  border-top-color: white;
  margin-left: 5px;
  transform: translateY(4px);
}

#top-toolbar .view-buttons {
  position: absolute;
  top: 5px;
  right: 10px;
}

#top-toolbar .view-buttons a {
  display: inline-block;
  padding: 5px 8px;
  text-decoration: none;
  background: gray;
  color: inherit;
  border-radius: 3px;
}

#top-toolbar .view-buttons a:hover {
  color: red;
}

#top-toolbar .view-buttons .speaker-view i {
  margin-right: 5px;
  vertical-align: middle;
}

#top-toolbar .view-buttons .full-screen {
  margin-left: 8px;
}

/* VIDEO CHAT */
#video-chat {
  flex-grow: 1;
  width: 1200px;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 10px;
}

#video-chat .webcam-box {
  position: relative;
  flex-basis: 25%;
  border: 2px solid transparent;
  transition: border 0.5s;
  color: white;
}

#video-chat .webcam-box:hover {
  border-color: rgba(255, 255, 255, 0.5);
}

#video-chat .webcam-box.active {
  border-color: chartreuse;
}

#video-chat .webcam-box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#video-chat .webcam-box .name,
#video-chat .webcam-box i {
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  border-top: 1px solid chartreuse;
  border-right: 1px solid chartreuse;
  padding: 2px 4px;
  opacity: 0;
}

#video-chat .webcam-box.active .name,
#video-chat .webcam-box:not(.active) i {
  opacity: 1;
}

/* CONTROL TOOLBAR */
#control-toolbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  background: #202020;
  align-items: center;
}

.button-inline {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}

.button-inline li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-inline li:not(:first-child) {
  margin-left: 15px;
}

.button-inline li i {
  font-size: 20px;
  margin-bottom: 5px;
}

.quit-chat a {
  text-decoration: none;
  color: red;
  font-size: 14px;
}
